<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>端面移动量的计算</title>
  <link href="https://cdn.bootcss.com/iview/2.13.0/styles/iview.css" rel="stylesheet">
  <style>
    #app {
      margin: 30px;
    }

    .title {
      text-align: center;
      margin-bottom: 30px;
    }

    @media (min-width: 576px) {
      .form {
        width: 768px;
        margin: 0 auto;
      }

      .form .ivu-form-item-label { color: #8D98AB; }

      .form .ivu-input-number-input { padding: 0 16px; }

      .form .input { width: 100%; border-radius: 32px; }

      .form .button {
        width: 120px;
        border-radius: 32px;
      }
    }

    @media (max-width: 576px) {
      .form .input, .button { width: 100%; }
    }
  </style>
</head>
<body>
  <div id="app">
    <h1 class="title">端面移动量的计算</h1>

    <i-form
      label-position="right"
      :label-width="40"
      :rules="rules"
      :model="form"
      ref="form"
      class="form"
    >
      <form-item label="成形角 a:" :label-width="80" prop="a">
        <input-number class="input" v-model="form.a" :disabled="pending"></input-number>
      </form-item>

      <form-item label="展宽角 b:" :label-width="80" prop="b">
        <input-number class="input" v-model="form.b" :disabled="pending"></input-number>
      </form-item>

      <form-item label="轧件尺寸 r0:" :label-width="80" prop="r0">
        <input-number class="input" v-model="form.r0" :disabled="pending"></input-number>
      </form-item>

      <form-item label="r1:" :label-width="80" prop="r1">
        <input-number class="input" v-model="form.r1" :disabled="pending"></input-number>
      </form-item>

      <form-item>
        <i-button
          :loading="pending"
          type="primary"
          class="button"
          @click="submit"
        >提交</i-button>
      </form-item>
    </i-form>

    <i-table
      v-if="result[0]"
      :loading="pending"
      :columns="columns"
      :data="result"
      size="small"
      class="table"></i-table>
  </div>

  <script src="https://cdn.bootcss.com/vue/2.5.17-beta.0/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/iview/2.13.0/iview.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
          result: [],
          form: {
            a: null,
            b: null,
            r0: null,
            r1: null,
          },
          pending: false,
          rules: {
            a: {
              required: true, message: '不能为空',
            },
            b: {
              required: true, message: '不能为空',
            },
            r0: {
              required: true, message: '不能为空',
            },
            r1: {
              required: true, message: '不能为空',
            },
          },
        };
      },
      methods: {
        submit: function() {
          var self = this;

          this.$refs.form.validate(function(valid) {
            if (valid) {
              self.pending = true;

              axios.post('/cal-movement', {
                a: self.form.a,
                b: self.form.b,
                r0: self.form.r0,
                r1: self.form.r1,
              })
              .then(function(json) {
                self.result = [json.data];
                self.pending = false;
              })
              .catch(function(error) {
                console.error(error);
                self.pending = false;
              });
            }
          });
        },
        isObject: function(obj) {
          return ({}).toString.call(obj) === '[object Object]';
        },
      },
      computed: {
        columns: function() {
          return this.isObject(this.result[0])
            ? Object.keys(this.result[0]).map(function(e) {
              return { title: e, key: e, minWidth: 100 };
            })
            : [];
        },
      },
    });
  </script>
</body>
</html>